{% for item in smoke_tests -%}
{{ item.provider }} {{ item.test }} {{ item.category }} {{ item.coverage_depth }}{% if item.estimated_cost_usd is defined %} cost={{ item.estimated_cost_usd }}{% endif %}
{% endfor -%}
