{% extends "base.html.j2" %}
{% block title %}{{ doc.title }}{% endblock %}
{% block body %}
<h1>{{ doc.title }}</h1>
{% for section in doc.sections %}
  {% if section.type == "markdown" %}
    {% include "sections/markdown.html.j2" %}
  {% elif section.type == "metric_grid" %}
    {% include "sections/metric_grid.html.j2" %}
  {% elif section.type == "table" %}
    {% include "sections/table.html.j2" %}
  {% elif section.type == "chart" %}
    {% include "sections/chart.html.j2" %}
  {% elif section.type == "raw_html" %}
    {% include "sections/raw_html.html.j2" %}
  {% endif %}
{% endfor %}
{% endblock %}
{% block footer %}
{% if doc.metadata %}
<details><summary>metadata</summary><pre>{{ doc.metadata | dump_json }}</pre></details>
{% endif %}
{% endblock %}
